.movies-content {
    padding: 1rem 2rem;

    .movies-search {
        display: flex;
        justify-self: flex-end;
    }

    .movies-container {
        display: grid;
        grid-template-columns: 20% 70%;
        grid-column-gap: 3rem;
        padding: 2rem 0;

        h3 {
            padding: 1rem 0;
        }
    }
}